# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Diretórios de build e cache
dist/
.cache/
out/
coverage/
.DS_Store

# Configurações do ambiente
.env
.env.local
.env.development
.env.test
.env.production

# Logs
*.log
logs/
